<div class="entry">
  <h1>
    <% if entry.created_at.today? %>
      Today
    <% else %>
      <%= l entry.created_at, format: :day_of_week %>
    <% end %>
  </h1>
  <p class="lead">
    <%= l entry.created_at, format: :month_day_year %>
  </p>

  <%= paginate @entries %>

  <%= simple_format(entry.body) %>
</div>
