<% content_for :header do %>
  <div class="text-center">
    <h1>
      <% if entry.created_today? %>
        Today
      <% else %>
        <%= l(
          entry.created_at.in_time_zone(current_user.time_zone),
          format: :day_of_week
        )%>
      <% end %>
    </h1>

    <p class="lead">
      <%= l(
        entry.created_at.in_time_zone(current_user.time_zone),
        format: :month_day_year
      )%>
    </p>
  </div>
<% end %>

<div class="text-center">
  <%= paginate @entries %>
</div>

<div class="entry">
  <div class="tape"></div>
  <%= simple_format(entry.body) %>
</div>
