<% content_for :header do %>
  <h1>
    <% if entry.for_today? %>
      Today
    <% else %>
      <%= l(entry.date, format: :day_of_week) %>
    <% end %>
  </h1>
  <p class="lead">
    <%= l(entry.date, format: :month_day_year) %>
  </p>
<% end %>

<%= paginate @entries %>

<%= simple_format(entry.body) %>
