<% content_for :header do %>
  <h1>Welcome to Trailmix.</h1>
<% end %>

<p>
  You're now well on your way to a journaling habit that will stick. You don't
  have any entries yet, but you'll be creating one soon.
</p>

<p>
  <h3>Entries are created using email.</h3>
</p>

<p>
  We email you to ask how your day was and you just hit reply and start typing.
  Your entries will be saved here automatically.
</p>

<p>
  Your first email is probably already in your inbox. Try writing just a
  sentence or two at first. It's fine to write more, but even short entries
  will be interesting when you read them later.
</p>

<p>
  <h3>Miss OhLife?</h3>
</p>

<p>
  You can import your <%= link_to "OhLife entries here", new_import_path %>.
</p>
