<div class="jumbotron">
  <p><h1>Trailmix</h1></p>
  <p class="lead">A private place to write.</p>
  <p>
    <%= link_to "Get started",
                "#sign-up-form",
                class: "btn btn-default btn-lg sign-up-link" %>
  </p>
</div>
