<p>
  Hey there,
</p>

<p>
  Want to know the <strong>hardest part about keeping a journal?</strong>
  Actually keeping one.
</p>

<p>
  Like most habits, it's easy for the first few days, but soon a lack of
  motivation or simple forgetfulness sets in.
</p>

<p>That's why we built Trailmix.</p>

<p>
  <strong>Every day, Trailmix sends you an email asking how your day
  went.</strong> All you do is hit reply and start typing. When you're done,
  hit send, and your entry will be saved instantly.
</p>

<p>
  With every reminder email, <strong>we'll include one of your previous entries
  chosen at random</strong>. You might get one from yesterday, last week, or
  last year.
</p>

<p>
  This makes opening our emails fun! It's delightful to be reminded of your
  former thoughts and feelings. Even yesterday's entry can surprise you.
</p>

<p>
  This enjoyable feeling will encourage you to write more, so that future-you
  can enjoy reading today's entry.
</p>

<p>
  <strong>Before you know it, you're a daily journaler.</strong>
</p>

<p>
  Once you've built this habit, you get a tremendous payoff: the ability to
  look back over your life experiences. You'll notice patterns like "I always
  seem stressed on Wednesdays!" Or "Wow, I was so worried about that talk with
  my boss, but it turned out completely fine."
</p>

<p>
  Insights like these can have a <strong>profound effect on your happiness and
  behavior.</strong> We know, because we've experienced it ourselves.
</p>

<p>If you'd like to experience this too, you can sign up below.</p>

<p>
  Trailmix costs $3.99/month. You can cancel at any time. If you're ever
  unhappy with the service, we'll refund your money.
</p>

<p>
  We charge for Trailmix because it costs money to run servers and fix bugs,
  but we're not in this to get rich. We're in it because <strong>we believe
  daily journalers are happier people and we want you to become one.</strong>
</p>

<hr />

<h1>Sign up</h1>
<p class="lead">Start journaling today.</p>

<%= render "subscriptions/payment_form" %>
