<% content_for :javascript do %>
  <%= render "stripe_javascript" %>
<% end %>

<% content_for :header do %>
  <p><h1>Update credit card</h1></p>
<% end %>

<p>
<%= form_tag credit_card_path, method: :put, id: "credit-card-update" do %>
  <p class="js-payment-errors alert alert-danger hidden"></p>

  <div class="form-group">
    <div id="card-element" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;"></div>
  </div>

  <%= button_tag "Update credit card",
    class: "btn btn-default btn-lg",
    data: { loading_text: "Updating..." }
  %>
<% end %>
<p>
