<% content_for :header do %>
  <h2>Forgot your password?</h2>
<% end %>

<%= simple_form_for(
  resource,
  as: resource_name,
  url: password_path(resource_name),
  html: { method: :post }
) do |f| %>

  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :email,
      label: false,
      required: true,
      autofocus: true,
      placeholder: "Email address" %>
  </div>

  <%= f.button :submit, "Submit" %> Send me password reset instructions.
<% end %>
