body {
  font-size: 16px;
}

a {
  color: $brown;

  &:hover {
    color: $brown;
  }
}

.btn-default {
  color: $brown;
  background: $lighter-brown;
  border-color: $light-brown;

  &:hover, &:focus, &:disabled {
    color: $brown;
    background: $light-brown;
    border-color: $light-brown;
  }
}

.btn-primary {
  color: white;
  background: $brown;
  border-color: $brown;

  &:hover, &:focus {
    color: white;
    background: $brown;
    border-color: $brown;
  }
}

.alert-danger, .alert-success {
  color: $brown;
  background: $lighter-brown;
  border-color: $light-brown;
}
