body {
  font-size: 16px;
  padding: 70px 0;
}

a {
  color: $brown;

  &:hover {
    color: $brown;
  }
}

p {
  margin-bottom: 25px;
}

.btn-default,
.pagination > li > a,
.pagination > li > span {
  color: $brown;
  background: $lighter-brown;
  border-color: $light-brown;

  &:hover, &:focus, &:disabled {
    color: $brown;
    background: $light-brown;
    border-color: $light-brown;
  }
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: $transparent-brown;
  background: $light-brown;
  border-color: $light-brown;
}

.btn-primary {
  color: white;
  background: $brown;
  border-color: $brown;

  &:hover, &:focus {
    color: white;
    background: $brown;
    border-color: $brown;
  }
}

.alert-danger, .alert-success {
  color: $brown;
  background: $lighter-brown;
  border-color: $light-brown;
}

.jumbotron {
  background: $lighter-grey;
}

@media (max-width: 768px) {
  .jumbotron {
    padding: 0 0 10px 0;
  }
}
