.navbar {
  .navbar-toggle {
    color: $brown;

    &:hover {
      background: $lighter-brown;
      border-color: $lighter-brown;
    }

    &:focus {
      background: $light-brown;
      border-color: $light-brown;
    }
  }

  img {
    height: 60px;
    margin-top: -5px;
  }

  .navbar-right {
    text-align: center;

    li a, li button[type=submit] {
      background: none;
      border: none;
      color: $brown;
      line-height: 18px;
      padding: 10px 15px;

      &:hover {
        color: $brown;
      }
    }
  }
}
