<% content_for :header do %>
  <h1>How to import your OhLife entries</h1>
<% end %>

<p>
  <ol>
    <li>
      If you haven't exported your OhLife entries yet, do so now. (And hurry,
      exports won't be available after October 4th!) Export your entries by
      visiting the OhLife
      <%= link_to "export page", "https://ohlife.com/export" %>.
    </li>

    <li>
      Click "Choose File" below, and select the export you just downloaded.
    </li>

    <li>
      Click "Start Import"
    </li>
  </ol>
</p>

<%= form_for @import, url: imports_path, html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.file_field :ohlife_export %>
  </div>

  <%= form.submit "Start Import", class: "btn btn-default btn-lg" %>
<% end %>
