<h1>About Trailmix</h1>

<p>
  Trailmix was built by <a href="http://twitter.com/r00k">Ben Orenstein</a> and
  <a href="http://twitter.com/chrishunt">Chris Hunt</a> in the Fall of 2014.
</p>

<%= image_tag "team.jpg", class: "img-responsive img-rounded" %>
