<p>
  <h1>4 Reasons To Keep A Development Journal</h1>
</p>

<p><strong>
tl;dr: Taking 60 seconds to jot some notes about your day can yield impressive
professional benefits. <%= link_to 'Trailmix', new_registration_path %> makes
it particularly easy to build this habit.
</strong></p>

<h3>
  You'll never forget how you fixed that particular error
</h3>

<p>
  Have you ever gotten an error and said "I <em>know</em> I've seen this
  before, but how did I solve it?". With a searchable journal, that annoying
  experience goes away.
</p>

<h3>
  You'll learn which design techniques continued to work well as the code
  changed
</h3>

<p>
  The true test of a design isn't when you first write it, it's when you need
  to change it later.
</p>

<p>
  If you make a note when your design choices work out particularly well or
  poorly, you'll soon build a catalog of techniques to embrace or avoid. After
  your third "Observer pattern on app_foo continues to confuse new developers
  coming on to the project", you'll learn to shy away in the future.
</p>

<h3>
  A list of your accomplishments is very useful at review time
</h3>

<p>
  Emailing your boss a week before your review reminding him or her of your
  major accomplishments in the past N months is a very smart move.
</p>

<h3>
  You'll know when you need a new job
</h3>

<p>
  As humans, we tend to have some good days and some bad ones. Because of this,
  it can be hard to detect trends in your mood. Consistent writing can help you
  detect that the bad days are consistently outnumbering the good ones. Maybe
  it's time to start looking.
</p>

<h2>How To Successfully Build The Habit</h2>

<p>
  <em>Starting</em> a development journal isn't hard. <em>Maintaining</em> one
  is.
</p>

<p>
  The key to building a habit isn't initial excitement, it's consistency. The
  biggest enemy of consistency is forgetfulness.
</p>

<p>
  If you'd like to try building this habit, you'll want to set a daily reminder
  for at least the first few weeks. When the alarm goes off, fire up your
  editor and record an entry.
</p>

<p>
  Another option is an app we wrote called
  <%= link_to "Trailmix", new_registration_path %>.
</p>

<p>
  Trailmix keeps you consistent by sending you an email each day asking what
  you were working on. You reply right in your email client and your entries
  are parsed into a searchable daily journal.
</p>

<p>
  What's more, Trailmix includes an old entry chosen at random in your daily
  reminder. This keeps your previous entries fresh in your mind. You might
  never forget how you fixed an error again.
</p>

<h3>Additional Resources</h3>

<ul>
  <li>
    <%= link_to "Trailmix", new_registration_path %>, a convenient way to keep
    a development journal.
  </li>
  <li>
    Programmers Stack Exchange: <a href="http://programmers.stackexchange.com/questions/3383/does-keeping-a-journal-help-in-your-job">Does
keeping a journal help in your job?</a>
  </li>
</ul>
