<h1>Frequently Asked Questions</h1>

<h3>How much does Trailmix cost?</h3>

<p>
  Trailmix costs $3.99 per month.
</p>

<h3>Is there a free trial?</h3>

<p>
  Yes! Your first 14 days of Trailmix are free. You'll be asked for a credit card
  when you sign up, but you <em>will not</em> be charged until your trial is
  over.
</p>

<h3>What if I forget to cancel before I'm charged?</h3>

<p>
  No problem! We'll happily issue you a refund.
</p>

<h3>What if I want a refund for some other reason?</h3>

<p>
  That's fine. We will refund your latest Trailmix payment for any reason at all.
  Just try us!
</p>

<h3>Why does Trailmix cost money?</h3>

<p>
  It costs money to run servers, send emails (really!), and to pay ourselves a
  little bit to work on the service. We want Trailmix to be around for a long
  time, so it's important that it be self-sustaining.
</p>

<h3>Can I import my OhLife entries?</h3>

<p>
  Yep! It takes two clicks and ten seconds.
</p>

<h3>Can I change what time the daily email is sent?</h3>

<p>
  Not yet, but this is very high on our priority list. We want this option too!
  Expect it in days, not weeks.
</p>

<h3></a>Who built Trailmix?</h3>
<a name="us">

<p>
  Trailmix was built by <a href="http://twitter.com/r00k">Ben Orenstein</a> and
  <a href="http://twitter.com/chrishunt">Chris Hunt</a> in the Fall of 2014.
</p>

<%= image_tag "team.jpg", class: "img-responsive img-rounded" %>
