<% content_for :header do %>
  <div class="jumbotron">
    <p><h1>Trailmix</h1></p>
    <p class="lead">A private place to write.</p>
  </div>
<% end %>

<p>
  <strong>Hey there person referred from GitHub!</strong>
</p>

<p>
  This is Trailmix, a service that helps you build a journaling habit that will
  actually stick.
</p>

<p>
  As a developer or designer, you might enjoy <%= link_to "4 Reasons to Keep a
  Development Journal", page_path("keeping-a-development-journal") %>.
</p>

<p>
  Or, if you prefer, you can simply
  <%= link_to "head to our standard landing page", new_registration_path %>.
</p>
