<% content_for :header do %>
  <p>
    <h1>Are you an OhLife refugee? You're safe now.</h1>
  </p>
<% end %>

<p>
  We loved OhLife and are sad to see it go, so we <strong>built a
  replacement</strong> with a single additional feature: paid plans. We call
  it Trailmix.
</p>

<p>
  It <strong>works just like OhLife used to</strong>: a daily email asking how
  your day went, plus an old entry chosen at random. Just as simple and
  beautiful as OhLife, but with a business model.
</p>

<p>
  And, of course, you can <strong>import all your existing OhLife
  entries</strong>.
</p>

<p>
  Your monthly payment ensures we'll never have ads and can justify the work to
  keep things running. No surprise shutdown with minimal notice.
</p>


<p>
  Trailmix costs $3.99/month. You can cancel at any time. If you're unhappy
  with the service, we'll refund your money.
</p>

<p>
  You can sign up now and <strong>restart your journaling</strong> habit like
  nothing ever happened. Trailmix is your new private place to write.
</p>

<%= render 'subscriptions/payment_form' %>
