<p>
  <h1>Trailmix Privacy Policy</h1>
</p>

<h3>Your entries are private.</h3>

<p>
  Your entries are not publicly-accessible. They can only be viewed by logging
  into your account or when sent to you via email.
</p>

<p>
  We will never view your entries unless absolutely necessary for technical
  reasons, such as fixing a bug (unlikely).
</p>

<p>
  The entries are not searchable by Google.
</p>

<h3>Your entries are deletable.</h3>

<p>
  If you no longer wish to use Trailmix, you can delete your account and all
  your entries with a click.
</p>

<h3>No third parties.</h3>

<p>
  We will never sell or share your information with third parties.
</p>
