<h1>Trailmix Privacy Policy</h1>

<h2>Your entries are private</h2>

<p>Your entries are not publicly-accessible. They can only be viewed by logging
into your account or when sent to you via email.</p>

<p>They are not searchable by Google.</p>

<h2>Your entries are deleteable</h2>

<p>If you no longer wish to use Trailmix, we will happily delete your account
and all entries.</p>

<h2>No third parties</h2>

<p>We will never sell or share your information with third parties.</p>
