<%= form_tag subscriptions_path, id: "sign-up-form" do %>
  <div class="form-group">
    <input type="email"
           class="form-control input-lg"
           id="email"
           name="email"
           placeholder="Email address">
  </div>

  <div class="form-group">
    <input type="password"
           class="form-control input-lg"
           id="password"
           name="password"
           placeholder="Password">
  </div>

  <input type="hidden" id="stripe_card_id" name="stripe_card_id">

  <div data-placement="right">
    <button
      type="button"
      id="sign-up-button"
      class="btn btn-default btn-lg"
      data-loading-text="Processing..."
    >Sign up</button>
  </div>
<% end %>

<%= render "subscriptions/stripe_javascript" %>
