<%= form_tag subscriptions_path, id: "sign-up-form" do %>
  <div class="form-group">
    <input type="email"
           class="form-control input-lg"
           id="email"
           name="email"
           autofocus="autofocus"
           placeholder="Email address">
  </div>

  <div class="form-group">
    <input type="password"
           class="form-control input-lg"
           id="password"
           name="password"
           placeholder="Password">
  </div>

  <input type="hidden" id="stripe_card_id" name="stripe_card_id">

  <div
    id="sign-up-button-tooltip"
    title="Email and password required"
    data-toggle="tooltip"
    data-placement="right">
    <button
      type="button"
      id="sign-up-button"
      class="btn btn-default btn-lg"
    >Sign up</button>
  </div>

  or <%= link_to "Sign in", new_session_path(:user) %>.
<% end %>

<%= render "subscriptions/stripe_javascript" %>
