<% content_for :content do %>
  <div class="col-md-4 col-sm-3"></div>
  <div class="col-md-4 col-sm-6">
    <%= yield :header %>
    <%= render "flashes" -%>
    <%= yield %>
  </div>
  <div class="col-md-4 col-sm-3"></div>
<% end %>

<%= render template: "layouts/application" %>
